<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Panel Admin — ANKA RAC 100</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="drones" href="/admin/drones">
      <ion-icon name="airplane-outline"></ion-icon>
      <ion-label>Drones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="users" href="/admin/users">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="forms" href="/admin/forms">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Formularios</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
