<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="forms" href="/home/forms">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Formularios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/home/history">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/home/profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
